.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about__title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color:#403F3D;

  span {
    font-style: italic;
    color:#B0907A;
  }

}
.about__card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about__card-container__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc((100% - 40px)/2);
}
.about__card-container__column__card--large {
  width: 100%;
  height: 590px;
}
.about__card-container__column__card--large:first-of-type {
    background: url(../images/about-1.jpg);
    background-size: no-repeat;
    background-position: center;
    border-radius: 20px;
}
.about__card-container__column__card--large:last-of-type {
    background: url(../images/about-4.jpg);
    background-size: no-repeat;
    background-position: center;
    border-radius: 20px;
}
.about__card-container__column__card--small {
  width: 100%;
  height: 430px;
}
.about__card-container__column__card--small:last-of-type {
  background: url(../images/about-2.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.about__card-container__column__card--small:first-of-type {
  background: url(../images/about-3.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}