
.header-hero {
  // margin-top: -80px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 644px;
  background: url(../images/header-img-hero.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
.header-hero__block  {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 530px;
  height: 444px;
  margin-left: 100px;

  button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: #E1D4C9;
  }
}
.header-block__title {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 72px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;

  span {
    font-style: italic;
    color: #B0907A;
  }
}
.header-block__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#E1D4C9;
}