.favorite {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.favorite__title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;

  span {
    color:#B0907A;
    font-style: italic;
  }
}
.favorite__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.slider-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__arrow-left {
  width: 60px;
  height: 60px;
  background: url(../images/arrow-left.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider__item {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.slider__item__img {
  width: 480px;
  height: 480px;
  background: url(../images/coffee-slider-1.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.item-description {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 480px;
}
.slider__item__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color:#403F3D;
}
.slider__item__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}
.slider__item__price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color:#403F3D;
}
.slider__arrow-right {
  width: 60px;
  height: 60px;
  background: url(../images/arrow-right.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-pagination {
  width: 144px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.slider-pagination__item {
  width: 40px;
  border: 2px solid #C1B6AD;
}
.pagination__item--active {
  border: 2px solid #665F55;
}