header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
.header-menu {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 100px;
  height: 60px;
}
.header__nav {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    li>a{
      color: #403F3D;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.header__coffe-menu {
  width: 72px;
  height: 28px;
}

.header-hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 644px;
  background: url(../images/header-img-hero.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}
.header-hero__block  {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 530px;
  height: 444px;
  margin-left: 100px;

  button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    background: #E1D4C9;
  }
}
.header-block__title {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 72px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;

  span {
    font-style: italic;
    color: #B0907A;
  }
}
.header-block__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#E1D4C9;
}