*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@import './_reset';
@import './_container';
@import './_header';
@import './_faforite';
@import './_about';
@import './_mobile-app';
@import './_contacts';

