* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 40px 40px 40px;
  display: flex;
  background: #E1D4C9;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-menu {
  width: 100%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 60px;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.header__nav ul li > a {
  color: #403F3D;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.header__coffe-menu {
  width: 72px;
  height: 28px;
}

.header__coffe-menu--active {
  border-bottom: solid 2px #403F3D;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 20px 0 100px 0;
}

.header-hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 644px;
  background: url(../images/header-img-hero.jpg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
}

.header-hero__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 530px;
  height: 444px;
  margin-left: 100px;
}
.header-hero__block button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background: #E1D4C9;
}

.header-block__title {
  font-family: Inter;
  color: #E1D4C9;
  font-size: 72px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
}
.header-block__title span {
  font-style: italic;
  color: #B0907A;
}

.header-block__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #E1D4C9;
}

.favorite {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favorite__title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}
.favorite__title span {
  color: #B0907A;
  font-style: italic;
}

.favorite__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.slider-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__arrow-left {
  width: 60px;
  height: 60px;
  background: url(../images/arrow-left.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slider__item {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slider__item__img {
  width: 480px;
  height: 480px;
  background: url(../images/coffee-slider-1.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 480px;
}

.slider__item__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}

.slider__item__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}

.slider__item__price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}

.slider__arrow-right {
  width: 60px;
  height: 60px;
  background: url(../images/arrow-right.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.slider-pagination {
  width: 144px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.slider-pagination__item {
  width: 40px;
  border: 2px solid #C1B6AD;
}

.pagination__item--active {
  border: 2px solid #665F55;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: #403F3D;
}
.about__title span {
  font-style: italic;
  color: #B0907A;
}

.about__card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about__card-container__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc((100% - 40px) / 2);
}

.about__card-container__column__card--large {
  width: 100%;
  height: 590px;
}

.about__card-container__column__card--large:first-of-type {
  background: url(../images/about-1.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.about__card-container__column__card--large:last-of-type {
  background: url(../images/about-4.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.about__card-container__column__card--small {
  width: 100%;
  height: 430px;
}

.about__card-container__column__card--small:last-of-type {
  background: url(../images/about-2.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.about__card-container__column__card--small:first-of-type {
  background: url(../images/about-3.jpg);
  background-size: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.mobile-app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.offer {
  display: flex;
  align-items: center;
  width: 630px;
}

.offer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.offer__title {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: #403F3D;
}
.offer__title span {
  font-style: italic;
  color: #B0907A;
}

.offer__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.buttons-line {
  display: flex;
  gap: 20px;
}

.button-item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 64px;
  border: 1px solid #665F55;
  border-radius: 100px;
  cursor: pointer;
}

.button-item__icon {
  display: block;
  width: 36px;
  height: 36px;
  margin-left: 19px;
}

.button-item__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.button-item__description__text {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
}

.button-item__description__title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #403F3D;
}

.mobile-screens {
  width: 630px;
  height: 630px;
  background: url(../images/mobile-screens.png);
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-radius: 40px;
  background: #665F55;
  padding: 100px 370px 100px 100px;
}

.contacts__box-social {
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 250px;
  gap: 40px;
}

.tagline {
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: #E1D4C9;
}
.tagline span {
  font-style: italic;
  color: #B0907A;
}

.social-networks {
  display: flex;
  gap: 12px;
}

.contacts__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #E1D4C9;
  height: 186px;
}

.contacts__main__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.contacts__main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contacts__main__adress,
.contacts__main__tel,
.contacts__main__clock {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

a[href^="tel:"] {
  color: #E1D4C9;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 800px;
  font-family: Inter;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: #403F3D;
  margin-bottom: 40px;
}
.menu__title span {
  font-style: italic;
  color: #B0907A;
}

.menu__groups {
  display: flex;
  gap: 16px;
}

.menu__groups__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 46px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  padding: 8px, 16px, 8px, 8px;
  cursor: pointer;
}

.menu__groups__item:nth-of-type(1) {
  width: 115px;
}

.menu__groups__item:nth-of-type(2) {
  width: 90px;
}

.menu__groups__item:nth-of-type(3) {
  width: 124px;
}

.menu__groups__item--active {
  background: #665F55;
}

.menu__groups__item__icon {
  width: 30px;
  height: 30px;
}

.menu__groups__item__type {
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.product {
  position: relative;
  width: 310px;
  height: 506px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
}

.product__img {
  border-radius: 40px;
  margin-bottom: 20px;
}

.product__description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 270px;
}

.product__description__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #403F3D;
  margin-bottom: 13px;
}

.product__description__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.product__description__price {
  position: absolute;
  left: 20px;
  bottom: 17px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */